@page "/Reproducciones"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Proseca.Shared.Entidades
@using Proseca.WEB.Repositories
@using Proseca.WEB.Shared
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal
@inject IAuthorizationService AuthorizationService
@inject AuthenticationStateProvider AuthenticationStateProvider



<h3>Reproducciones</h3>
<div class="mb-3">

    <a class="btn btn-create" href="/Reproducciones/Create">Crear Reproduccion</a>


</div>

<GenericList MyList="Reproducciones">

    <Body>
        <table class="table table-striped table-bordered custom-table">

            <thead>

                <tr>
                    <th>Fecha Preñez </th>
                    <th>Tipo Inseminación</th>
                    <th>Numero Crias</th>
                    <th>Numero abortos</th>
                 
                    @if (IsAdmin)
                    {
                        <th>Acciones</th>
                    }
                </tr>

            </thead>


            <tbody>
                @foreach (var Reproduccion in Reproducciones)
                {
                    <tr>
                        <td>
                            @*Fila*@
                            @Reproduccion.FechaPrennez
                        </td>

                        <td>
                            @Reproduccion.TipoInseminacion
                        </td>

                        <td>
                            @Reproduccion.NumeroCrias
                        </td>

                        <td>
                            @Reproduccion.NumeroAbortos
                        </td>


                        <td>
                            @if (IsAdmin)
                            {
                                <a href="/Reproducciones/edit/@Reproduccion.Id" class="btn btn-warning">Editar</a>
                                <button class="btn btn-danger" @onclick=@(() =>DeleteAsync(Reproduccion))>Borrar</button>

                            }
                           
                        </td>


                    </tr>
                }
            </tbody>

            </table>



    </Body>




</GenericList>



@code {

    public List<Reproduccion> Reproducciones { get; set; } = new List<Reproduccion>();
    private bool IsAdmin { get; set; }

    protected async override Task OnInitializedAsync()
    {
           var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
           var user = authState.User;
           IsAdmin = user.IsInRole("Admin");
         await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.GetAsync<List<Reproduccion>>("/api/Reproducciones");
        Reproducciones = responseHppt.Response!;
    }

    private async Task DeleteAsync(Reproduccion Reproduccion)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.DeleteAsync<Reproduccion>($"api/Reproducciones/{Reproduccion.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}
