@page "/Animales/edit/{Id:int}"
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

@attribute [Authorize(Roles = "Admin")]


<h3>Editar Animal</h3>

@if (Animal is null)
{
    <div class="spinner" />
}
else
{
    <AnimalForm @ref="animalForm" Animal="Animal" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Animal Animal;
    private AnimalForm animalForm;

    [Parameter]
    public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<Animal>($"/api/Animales/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Animales");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Animal = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("/api/Animales", Animal);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {

            navigationManager.NavigateTo("/Animales");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Animales");
    }
}