@page "/EventosDeSalud/edit/{Id:int}"

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal


<h3>Editar Evento</h3>

@if (EventoDeSalud is null)
{
    <div class="spinner" />
}
else
{
    <EventoDeSaludForm @ref="EventoDeSaludForm" EventoDeSalud="EventoDeSalud" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private EventoDeSalud EventoDeSalud;
    private EventoDeSaludForm EventoDeSaludForm;

    [Parameter]
    public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<EventoDeSalud>($"/api/EventoSDeSalud/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("EventoSDeSalud");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            EventoDeSalud = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync("/api/EventosDeSalud", EventoDeSalud);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {

            navigationManager.NavigateTo("/EventosDeSalud");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/EventosDeSalud");
    }
}